* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth
}

@font-face {
    font-family: ndot;
    src: url(./Fonts/Ndot-55-DoenNkNm.ttf)
}

@font-face {
    font-family: NH;
    src: url(./Fonts/korataki-rg-3cf0d889-B6eTgmP5.ttf)
}

#main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background: #000;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-left img {
    position: relative;
    top: 36px;
    left: 25px;
    width: 20vw;
}

#nav-left h1 {
    position: absolute;
    color: #fff;
    font-size: 3.5vw;
    font-family: ndot;
    letter-spacing: 1.5px;
    font-weight: 400;
    top: 8%;
    margin-left: 40px;
}

#nav-center {
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-center img {
    width: 18vw;
}

#nav-center input {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    width: 12vw;
    height: 5vh;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1vw;
    text-align: center;
    font-family: ndot;
    letter-spacing: 1.5px;
}

#nav-right {
    position: absolute;
    right: 0;
    top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: 20px;
}

#nav-right .nav-img {
    width: 10vw;
}

#nav-right .heading {
    position: absolute;
    color: #fff;
    font-size: 1vw;
    font-family: NH;
    top: 15px;
}

#nav-right .h1 a {
    position: absolute;
    left: 3vw;
}

#nav-right .h2 a {
    position: absolute;
    left: 2vw;
}

#nav-right .h3 a {
    position: absolute;
    left: 1vw;
}

a {
    text-decoration: none;
    color: #e6e6e6;
}

.line1 {
    position: absolute;
    height: 16.5vw;
    width: 100%;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
}

.element-d {
    position: absolute;
    height: 3px;
    background: #ffffff;
    box-shadow: rgb(255, 255, 255) 0px 0px 20px;
}

#element-1 {
    transform: rotate(-144.95deg);
    top: 2.9vw;
    left: 17.99vw;
    width: 11vw;
}

#element-2 {
    top: 6.02vw;
    left: 27.89vw;
    width: 14.9vw;
}

#element-3 {
    transform: rotate(-150.01deg);
    top: 7.99vw;
    left: 42.3vw;
    width: 8vw;
}

#element-4 {
    top: 10.01vw;
    left: 49.7vw;
    width: 50.5vw;
}

#element-5 {
    transform: rotate(-149.59deg);
    top: 9.8vw;
    left: 37.7vw;
    width: 15vw;
}

#element-6 {
    top: 13.5vw;
    left: 51.6vw;
    width: 5vw;
}

#element-7 {
    transform: rotate(49.18deg);
    top: 14.99vw;
    left: 55.89vw;
    width: 3.9vw;
}

#element-8 {
    top: 16.39vw;
    left: 58.90vw;
    width: 15.89vw;
}

#element-9 {
    transform: rotate(117.7deg);
    top: 14.2vw;
    left: 73.4vw;
    width: 5vw;
}

#element-10 {
    top: 12vw;
    left: 77vw;
    width: 25vw;
}

#element-11 {
    top: 43vw;
    left: 0vw;
    width: 44vw;
}

#element-12 {
    transform: rotate(144.8deg);
    top: 41.58vw;
    left: 43.48vw;
    width: 5vw;
}

#element-13 {
    top: 40.13vw;
    left: 47.9vw;
    width: 70vw;
}

#img img {
    width: 15vw;
}

.mobile1 {
    position: absolute;
    top: 15vw;
    left: 65vw;
    z-index: 20;
    transform: rotate(-32deg);
}

.mobile2 {
    position: absolute;
    top: 12vw;
    left: 60vw;
    z-index: 10;
    transform: rotate(-33deg);
}

#text {
    position: absolute;
    top: 26vw;
    left: 3vw;
    width: 50vw;
    text-align: center;
}

#text h1 {
    font-family: NH;
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.626);
    margin-bottom: 10px;
    font-weight: 400;
}

#text h5 {
    margin-top: 6vw;
    margin-right: 12vw;
    font-family: ndot;
    font-size: 1.6vw;
    color: #999d9c;
    font-weight: 600;
    line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {

    #nav-left img {
        width: 30vw;
        left: 10px;
        top: 20px;
    }

    #nav-left h1 {
        font-size: 5vw;
        top: 7vw;
        margin-left: 20px;
    }

    #nav-center {
        display: none;
    }

    #nav-right {
        display: none;
    }

    .line1 {
        transform: rotate(45deg);
        top: 34vw;
        left: -5.5vw;
        height: 16.5vw;
    }

    .line2 {
        transform: rotate(90deg);
    }


    #element-11 {
        top: 46.5vw;
        left: 55vw;
    }

    #element-12 {
        transform: rotate(144.8deg);
        top: 45vw;
        left: 98.5vw;
    }

    #element-13 {
        transform: rotate(144.8deg);
        top: 9vw;
        left: 91.9vw;
        width: 120vw;
    }

    #img img {
        width: 30vw;
    }

    .mobile1 {
        top: 120vw;
        left: 56vw;
    }

    .mobile2 {
        top: 50vw;
    }



    #text {
        transform: rotate(55deg);
        top: 72vw;
        width: 60vw;
    }

    #text h1 {
        font-size: 3.5vw;
    }
}