* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: rgb(127, 127, 127);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 60vh;
    width: 60vw;
    background-color: black;
    border: 2px solid white;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    cursor: none;
}

main img {
    height: 150px;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}